# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# npx auth secret
# https://next-auth.js.org/configuration/options#secret

AUTH_SECRET=12345
AUTH0_CLIENT_ID=54321
AUTH0_CLIENT_SECRET=SECRETS
AUTH0_ISSUER=https://meow.meow/cat

UPLOADTHING_TOKEN=TOKEN

RESEND_API_KEY=APIKEY

# Below is a EXAMPLE connection string for Neon. It is from their documentation page
# (https://neon.com/docs/connect/connect-from-any-app) and won't work just.
# You should use Neon branching to create a development branch of your database if
# you want to connect to Neon directly. See:
# - https://neon.com/docs/introduction/branching

# DATABASE_URL=postgresql://sampleUser:AbC123dEf@ep-cool-darkness-a1b2c3d4-pooler.us-east-2.aws.neon.tech/dbname?sslmode=require&channel_binding=require # Neon Development Database
DATABASE_URL=postgresql://postgres:password@postgres:5432/postgres # Local Docker Postgres Database
